################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDo-List/.vs/ToDo-List
/ToDo-List/ToDo-List/bin/Debug/net6.0
/ToDo-List/ToDo-List/obj
